**/coverage
coverage/*
build/*
.idea/*
*.lock
src/build
src/.dart_tool
src/ios/build/*
src/ios/build

/.flutter-plugins
.flutter-plugins
.flutter-plugins-dependencies
src/.packages
fastlane/README.md
node_modules/
.DS_Store
libs/features/*/build/
libs/features/*/.dart_tool/
libs/features/*/.packages
apps/*/app_features/libs/*/coverage/*
.vscode/launch.json

# need yarn.lock file
!yarn.lock
package-lock.json
qe-automation/node_modules
qe-automation/test/reports
qe-automation/logs
qe-automation/.idea/*
libs/features/card-3-d-secure/.idea/libraries/Dart_SDK.xml
libs/features/card-3-d-secure/.idea/modules.xml
libs/features/card-3-d-secure/.idea/workspace.xml
libs/features/card-3-d-secure/features_card_3_d_secure.iml

.vscode/

genhtml.perl

/config/.dart_tool/
